*{
    margin:0;
    padding:0;
    position:relative;
}

#root{
    width:100vw;
    height:100vh;
}

.container{
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    height:100%;
    background:#261d32;
}

